<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {if $design == 10}
    <meta name="viewport" content="width=480,user-scalable=no">
    <link href="templates/sent/sp.css" rel="stylesheet" media="all" />
    <title>(Android・iPhone)ユーザー登録ページ</title>
    {/if}
    {if $design == 11}
    <meta name="viewport" content="width=480,user-scalable=no">
    <link href="templates/sent/mobile.css" rel="stylesheet" media="all" />
    <title>(mobile)ユーザー登録ページ</title>
    {/if}
    {if $design == 12}
    <meta name="viewport" content="width=768,user-scalable=no">
    <link href="templates/sent/tablet.css" rel="stylesheet" media="all" />
    <title>(Android・iPad)ユーザー登録ページ</title>
    {/if}
    {if $design == 13}
    <meta name="viewport" content="width=width=device-width">
    <link href="templates/sent/pc.css" rel="stylesheet" media="all" />
    <title>(PC)ユーザー登録ページ</title>
    {/if}
  </head>
  <body>
    {if $flag == 10}
      <h3>登録失敗</h3>
      <div>名前、メールアドレス、パスワードを正しく入力してください。</div>
    {/if}

    {if $flag == 11}
      <h3>ユーザー仮登録</h3>
      <p>ユーザー登録用のメールアドレスを送信しました。</p>
      <p>メールアドレスのURLから登録ページで登録を行ってください。</p>

      <h3>ユーザー登録情報</h3>
      <p>名前：{$name}</p>
      <p>パスワード：{$pass}</p>
      <p>ID：{$id}</p>
      <p>登録日時：{$time}</p>

    {/if}
  </body>
</html>